* 
{
    padding: 0;
    margin:  0;
    background-color: #F06B51
}

#header 
{
    margin-top: 8%;
    margin-right: 20%;
    margin-left: 20%
}

h1 
{

    color:  #F06B51;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
    border: 20px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
}

